/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url("img/bg.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 768px) {
  html,
  body {
    overflow-y: auto; /* scroll muncul saat layar <= 768px */
  }
}

/* Gaya Kustom untuk Tata Letak dan Background */
#home {
  min-height: 100vh;
  image-rendering: pixelated;
}

.wrapper {
  gap: 4px;
}

/* Gaya Kustom untuk Elemen Retro Pixel */
.ready {
  font-family: "Retro Pixel", sans-serif;
  color: #330084;
  font-weight: 500;
  padding-top: 60px;
  border-radius: 6px;
  font-size: 90px;
  background-color: transparent;
  text-shadow: -1px -1px 0 purple, 1px -1px 0 purple, -1px 1px 0 purple,
    1px 1px 0 purple;
  text-align: center;
  /* Animasi tetap dipertahankan */
  animation: flash 1s infinite alternate, bounce 1s infinite alternate;
}

@keyframes flash {
  0% {
    opacity: 1;
    filter: brightness(1);
  }
  50% {
    opacity: 0;
    filter: brightness(1.5);
  }
  100% {
    opacity: 1;
    filter: brightness(1);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.login-container {
  margin-bottom: 20px;
  background: transparent;
  border: 3px solid #330084;
  backdrop-filter: blur(10px);
  padding: 30px 40px ;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  width: 320px; /* Batasi lebar */
}

.login-container h2 {
  color: #333;
}

/* Penyesuaian Input Form Bootstrap */
.form-control {
  /* Menggunakan nilai padding dan border-radius yang lebih spesifik */
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
}

.form-control:focus {
  /* Ganti border-color default Bootstrap */
  border-color: #4f46e5; 
  box-shadow: 0 0 0 0.25rem rgba(79, 70, 229, 0.25); /* Ganti box-shadow default */
}

/* Penyesuaian Tombol Bootstrap */
.btn-primary {
  background: #4f46e5;
  border-color: #4f46e5; /* Pastikan warna border sama */
  transition: 0.3s;
}

.btn-primary:hover {
  background: #3730a3;
  border-color: #3730a3;
}

/* Gaya Pesan Error */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}

.zoomOutDown {
    animation: zoomOutDown 0.8s ease forwards;
  }

  @keyframes zoomOutDown {
    40% {
      opacity: 1;
      transform: scale3d(0.475, 0.475, 0.475) translateY(60px);
    }
    100% {
      opacity: 0;
      transform: scale3d(0.1, 0.1, 0.1) translateY(700px);
      transform-origin: center bottom;
    }
  }