* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  background-image: url("../img/logoflui.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
}

.home-container h1 {
  font-size: 90px;
  font-family: "Boldonse", sans-serif;
  margin-bottom: 10px;
}
.home-container p {
  font-size: 40px;
  font-family: "Cooper BT", sans-serif;
}
.text-1 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.text-1 h2 {
  font-family: "Boldonse", sans-serif;
  font-size: 64px;
  font-weight: 500;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  color: black;
  width: 100%;
  max-width: 1200px;
  padding: 30px 20px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
  opacity: 0.85;
}

.label {
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 6px 10px;
  border-radius: 6px;
  letter-spacing: 0.5px;
}

section:last-of-type img {
  width: 100%;
  display: block;
  margin-top: 80px;
  border-radius: 20px;
}
.container-2 {
  background-image: url("../img/logoflui2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
}
.text-2 {
  font-family: "Boldonse";
}

.bg2 {
  display: block;
  padding: 50px;
}

.text-2 {
  padding-bottom: 40px;
}
.paragraph {
  margin-right: 500px;
  text-align: left;
}
.paragraph {
  font-family: sans-serif;
  font-size: 25px;
  line-height: 1.6;
}
.text-2 h2 {
  font-family: "Boldonse";
  font-size: 50px;
  font-weight: 500;
  text-align: le;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60%;
  align-content: center;
  padding: 40px 0;
  background: black;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-pixel {
  font-family: "boldonse", monospace;
  font-size: 1.3rem;
  color: white;
  background: #2b2b2b;
  border: 4px solid #d2d2d2;
  border-radius: 30px;
  padding: 9px 10px 7px 18px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 4px #888, 0 8px #000000;
  transition: all 0.1s ease-in-out;
  image-rendering: pixelated;
}

.btn-pixel:hover {
  color: #000000;
  background: rgb(231, 231, 231);
  box-shadow: 0 2px #888, 0 4px #000;
  transform: translateY(1px);
}

.btn-pixel:active {
  color: white;
  background: #2b2b2b;
  box-shadow: 0 0 #000;
  transform: translateY(3px);
}
